.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #06597a;
    width: 350px;
    height: 590px;
    border-radius: 10px;
    padding: 10px 20px;
    border: solid 6px #ffffff;
}

.icons-frame{
    background-color: #f09393;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5%;
    overflow: hidden;
    overflow-wrap: break-word;
}

.icons {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin-top: 1%;
    margin-left: 2%;
    width: 40px;
    height: 35px;
}

.icons > i {
    color: black;
}

.calculator-display-for-advanced{
    background-color: #f09393;
    height: 40px;
    width: 90%;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 25px 15px;
    overflow: hidden;
    overflow-wrap: break-word;
}

.calculator-button{
    background-color: #ffffff;
    width: 95%;
    height: 330px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
}

.clear-and-enter{
    text-align: center;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}

.clear-and-enter > button{
    border-radius: 10px;
    width: 125px;
    height: 50px;
    margin: 0px 0px;
    background-color: #f09393;
    cursor: pointer;
    outline: none;
    border: 0px solid #30bb98;
}

.button-row {
    border-radius: 10px;
    text-align: center;
    height: 50px;
    margin: 10px;
    background-color: #ffffff;
}
.button-row > button {
    width: 60px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background-color: #bdb2b2;
}
.button-row > .operator {
    color: #ffffff;
    background-color: #313132;
}
.button-row > .double {
    width: 125px;
}
.button-row > .isPressed {
    background-color: #00da75;
}

.confirm{
    background-color: #f09393;
    height: 10px;
    line-height: 10px;
    width: 92%;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    padding: 25px 15px;
    overflow: hidden;
    overflow-wrap: break-word;
    margin-top: 10px;
}