<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://use.fontawesome.com/releases/v6.0.0/js/all.js"></script>
    <title>main</title>
</head>
<body>
    <div class="entire-frame">
        <div class="title">
            <div class="menu">
                <i class="fa-solid fa-align-justify"></i>
            </div>
            <span class="title-span">My daily expend</span>
            <div class="plus-money">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>

        <br style="border: 2px solid black">

        <div class="my-daily-expend">
            <span class="my-daily-expend-sentence-span">daily expend</span>
            <span class="my-daily-expend-money-span">1000원</span>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/calculator.js"></script>
</body>
</html>